In [6]:
import pandas as pd

n =5
df = pd.DataFrame()
df['date'] = range(1,6)
df['B'] = [1.9,2.3,4.4,5.6,7.3]
df['A'] = [3.2,1.3,5.6,9.4,10.4]
print df

   date    B     A
0     1  1.9   3.2
1     2  2.3   1.3
2     3  4.4   5.6
3     4  5.6   9.4
4     5  7.3  10.4

In [7]:
df_dbl = pd.concat([df,df], names = ['date', 'B', 'A']).sort()
print df_dbl
df_dbl = df_dbl.iloc[1:-1] # removes the first and last row
df_dbl

   date    B     A
0     1  1.9   3.2
0     1  1.9   3.2
1     2  2.3   1.3
1     2  2.3   1.3
2     3  4.4   5.6
2     3  4.4   5.6
3     4  5.6   9.4
3     4  5.6   9.4
4     5  7.3  10.4
4     5  7.3  10.4

   date    B     A
0     1  1.9   3.2
1     2  2.3   1.3
1     2  2.3   1.3
2     3  4.4   5.6
2     3  4.4   5.6
3     4  5.6   9.4
3     4  5.6   9.4
4     5  7.3  10.4

In [8]:
c = df_dbl.index[1:len(df_dbl.index)].tolist()
c.append(max(df_dbl.index))
df_dbl.index = c

In [9]:
print df_dbl

   date    B     A
1     1  1.9   3.2
1     2  2.3   1.3
2     2  2.3   1.3
2     3  4.4   5.6
3     3  4.4   5.6
3     4  5.6   9.4
4     4  5.6   9.4
4     5  7.3  10.4

In [3]:
import pandas as pd
pd.date_range('1/1/2000', periods=5)

<class 'pandas.tseries.index.DatetimeIndex'>
[2000-01-01, ..., 2000-01-05]
Length: 5, Freq: D, Timezone: None

In [77]:
from scipy.stats import linregress
df_dbl.groupby(df_dbl.index).apply(lambda v: pd.ols(y=v.B, x=v.date).beta) # slice at 0 to get the slope

df_dbl.groupby(df_dbl.index).apply(lambda v: linregress(v.date, v.B)[0])

              x  intercept
1  8.881784e-16       2.10
2  2.220446e-16       3.35
3  1.776357e-15       5.00
4  2.664535e-15       6.45

In [82]:
test = pd.ols(y=df_dbl.B, x=df_dbl.date)
test.beta

x            1.225
intercept    0.550
dtype: float64

In [83]:
linregress(df_dbl.date, df_dbl.B)

(1.45,
 -0.125,
 0.98290967551068575,
 1.2319910399729835e-05,
 0.11086778913041724)

In [84]:
df_dbl.date

1    1
1    2
2    2
2    3
3    3
3    4
4    4
4    5
Name: date, dtype: int64